{# templates/reg_instance_template.txt #}
//------------------------------------------------------------------------------//
// Author:                Starukhin Danila M.
// Author's e-mail:       sniperusus2002@gmail.com
// -----------------------------------------------------------------------------//
// Purpose: {{desc}}
// Date: {{datetime}}
//------------------------------------------------------------------------------//

module {{module_name}}
    import core_regblk_pkg::*;
    import core_reg_structure_pkg::*;
#(
    // Parameters{% for param in parameters %}
    parameter {{param.type}} {{param.name}} = {{param.value}}{% if not loop.last %},{% endif %}{% endfor %}

    // Write here localparams
) (
    /*==========================### COMMON SIGNALS ###==========================*/
    input  logic                            clk,
    input  logic                            rst_n,

    input  logic [AW - 1: 0]                addr,
    input  logic [DW - 1: 0]                wdata,
    input  logic [DW - 1: 0]                wedata,

    output logic [DW - 1: 0]                rdata
    /*========================### ADDITIONAL SIGNALS ###========================*/

    // write here additional parameters
);
/*==============================================================================//
region LOGIC VARIABLE DEFINITION
//==============================================================================*/
{% for reg in regs %}
// {{reg.reg_name_uc}}
logic [DW - 1: 0] {{reg.reg_var_lc}}_rdata{% if reg.cnt > 1 %}  [{{reg.cnt_name}}]{% endif %};
logic [DW - 1: 0] {{reg.reg_var_lc}}_wedata{% if reg.cnt > 1 %} [{{reg.cnt_name}}]{% endif %};
logic [DW - 1: 0] {{reg.reg_var_lc}}_wdata;
{% endfor %}
/*============================================================================//
region INSTANCES
//============================================================================*/
{% for reg in regs %}{% if reg.cnt > 1 %}
for (genvar i = 0; i < {{reg.cnt_name}}; i++) begin: gen_{{reg.reg_var_lc}}_regs
    // [{{ reg.reg_name_uc }}]
    prim_register #(
        // ----------------- GLOBAL PARAMETERS ----------------- //
        .DW     (DW),
        // ----------------- FIELDS PARAMETERS ----------------- //
        .F_NUM  ({{reg.reg_var_uc}}_F_NUM),
        .F_W    ({{reg.reg_var_uc}}_F_W  ),
        .F_OFS  ({{reg.reg_var_uc}}_F_OFS)
        // ----------------------------------------------------- //
    ) {{reg.reg_var_lc}}_reg (
        /*================### COMMON SIGNALS ###=================*/
        .clk    (clk  ),{{free_common_space}}// <-
        .rst_n  (rst_n),{{free_common_space}}// <-
        /*================### PACKET SIGNALS ###=================*/
        .wdata  ({{reg.reg_var_lc}}_wdata    ),{{reg.free_space_packet}}// <-
        .wedata ({{reg.reg_var_lc}}_wedata[i]),{{reg.free_space_packet}}// <-
        .rdata  ({{reg.reg_var_lc}}_rdata[i] ) {{reg.free_space_packet}}// ->
        //=======================================================//

    );
end
{% else %}
// [{{ reg.reg_name_uc }}]
prim_register #(
    // ----------------- GLOBAL PARAMETERS ----------------- //
    .DW     (DW),
    // ----------------- FIELDS PARAMETERS ----------------- //
    .F_NUM  ({{reg.reg_var_uc}}_F_NUM),
    .F_W    ({{reg.reg_var_uc}}_F_W  ),
    .F_OFS  ({{reg.reg_var_uc}}_F_OFS)
    // ----------------------------------------------------- //
) {{reg.reg_var_lc}}_reg (
    /*================### COMMON SIGNALS ###=================*/
    .clk    (clk  ),{{free_common_space}}// <-
    .rst_n  (rst_n),{{free_common_space}}// <-
    /*================### PACKET SIGNALS ###=================*/
    .wdata  ({{reg.reg_var_lc}}_wdata ),{{reg.free_space_packet}}// <-
    .wedata ({{reg.reg_var_lc}}_wedata),{{reg.free_space_packet}}// <-
    .rdata  ({{reg.reg_var_lc}}_rdata ) {{reg.free_space_packet}}// ->
    //=======================================================//

);
{% endif %}{% endfor %}
//============================================================================//
endmodule

